body {
    font-family: "Roboto Mono";
    width: 70%;
    margin: auto;
}

header {
    width: 100%;
    display: block;
}

h1 {
    float: left;
    margin-left: 0;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav {
    float: right;
    margin-top: 2rem;
}

.links {
    color: black;
    margin-left: 6rem;
    text-decoration: none;
}

.introduction {
    display: inline-block;
    background-image: url(Pictures/me.jpg);
    background-size: cover;
    width: 100%;
    height: 23em;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.intro {
   width: 70%;
   height: 100%;
   float: right; 
}

 .hello {
    color: white;
    padding-top: 6rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
 }

 .getintouch {
    background-color: white;
    color:black;
    width: fit-content;
    padding: 1em;
    border-radius: 0.5rem;
    margin-left: 5rem;
    text-decoration: none;
 }

 .projects  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
 }

 .KB, .BC, .CB, .jc, .ap, .omjp {
    width: 32%;
    height: 400px;
 }

 .kb1 {
    width: 100%;
    border-radius: 5px;
 }
 
 .skills  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-html, .skills-css, .skills-js {
    height: 7rem;
    color: black;
    margin-bottom: 50px; 
}

.html, .css, .js, .git, .chrome {
    height: 100%;
}

h5 {
    margin: 5px;
    text-align: center;
}

.aboutme {
   display: flex;
   width: 100%;
}

.deetsaboutme {
   margin-right: 2em;
   margin-top: 0%;
}

#myImg {
   width: 50%;
   border-radius: 0.5rem;
}

.deets {
    background-color: #f2f2f2;
    padding: 20px;
}

.or {
    margin: 0px;
}

.linkedin, .gith {
    color: black;
    text-decoration: none;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid: #252a4a;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
 }

 #subject {
   height: 12em;
 }

 #name, #email, #subject, #submit {
   font-family: Roboto Mono;
 }
 
 input[type=submit] {
    background-color:#252a4a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }

 .contactform {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
 }

footer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

/*-------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1190px) {
 body {
    width: 85%;
      }

 header {
    text-align: center;
        }

 h1 {
    float: none;
    margin: 2rem;
      }

 nav  {
    float: none;
    margin-top: 1rem;
      }

 .links {
    margin: 8%;
      }

 .introduction  {
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #252a4a;
    margin-top: 2rem;
    height: 20rem;
      }

.intro {
    width: 80%;
    height: 100%;
    float: right; 
      }

 .hello {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
 }

 .getintouch {
   padding: 0.5em;
   border-radius: 0.5rem;
   margin-left: 4rem;    
 }

 .projects {
   
      }
.KB, .BC, .CB, .jc, .ap, .omjp  {
    width: 48%; 
      }
 .html, .css, .js, .git, .chrome  {
    height: 105%;
       }

}

/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px) {
   body {
    width: 90%;
    }
   header {
      text-align: center;
      }

   h1 {
   float: none;
   margin: 2rem;
    }

   nav  {
      float: none;
      margin-top: 1rem;
      text-align: center;
    }

   .links {
      margin: 4%;
    }

   .introduction  {
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
      background-color: #252a4a;
      margin-top: 2rem;
      height: 15rem;
    }

   .intro {
      width: 100%;
    }

   .hello  {
      font-size: 0.6em;
      padding-top: 2rem;
      padding-left: 11rem;
      padding-right: 1rem;
    }

    .getintouch, .holding {
      display: none;
    }

   .projects {
      flex-direction: column;
    }

   .KB, .BC, .CB, .jc, .ap, .omjp  {
      width: 100%;
      margin-bottom: 1em;
    }

   .html, .css, .js, .git, .chrome  {
      height: 105%;
   }

   .aboutme {
      display: block;
      width: 100%;
   }

   .deetsaboutme {
      margin-right: 0;
      margin-top: 0%; 
   }

   #myImg {
      width: 100%;
      border-radius: 0.5rem;
   }
}
  

