body {
    font-family: "Roboto Mono";
    width: 70%;
    margin: auto;
}

header {
    height: 80px;
}

h1 {
    float: left;
    margin: 20px;
    margin-left: 0px;
}

h2 {
margin-top: 30px;
margin-bottom: 30px;
}

nav {
    float: right;
    margin-top: 30px;
}

a {
    margin-left: 50px;
}

.me {
    width: 100%;
    border-radius: 10px; 
}

 section {
    position: relative;
 }

 .intro {
    color: white;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 50%;
 }

 .greeting {
    color: white;
    position: absolute;
    top: 15%;
    left: 35%;
 }

 .getintouch {
   position: absolute;
   top: 60%;
   left: 35%;
   background-color: white;
   padding: 10px;
   border-radius: 20px;
 }

 .projects  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
 }

 .KB {
    width: 32%;
    height: 400px;
 }

 .BC {
    width: 32%;
    height: 400px;
 }
 
 .CB {
    width: 32%;
    height: 400px; 
 }

 .jc {
   width: 32%;
   height: 400px;
}

.ap {
   width: 32%;
   height: 400px;
}

.omjp {
   width: 32%;
   height: 400px;
}

 .kb1 {
    width: 100%;
    border-radius: 5px;
 }
 
 .skills  {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
}

.skills-html, .skills-css, .skills-js {
   width: 32%;
   height: 100px;
   background-color: #252a4a ;
   color: white;
   border-radius: 5px;
}

.aboutme {
display: flex;
width: 100%;

}

.holding {
   background-color: #252a4a;
   color: white;
   padding: 100px;

}

footer {
   display: flex;
   width: 100%;
}

.footernav {
   
   margin: 20px;
}


 
 